%table
  %tr
    %th Name
    %th Fee
    %th Passing Grade
    %th Number of Passes
    %th Number of Fails
    %th Creator
    %th Purchase Quiz
    %th Take Quiz
  - @quizzes.each do |quiz|
    %tr
      %td= @auth == quiz.user ? link_to(quiz.name, analytics_quiz_path(quiz)) : quiz.name
      %td= number_to_currency(quiz.cost)
      %td= number_to_percentage((quiz.passing_score), :precision => 2)
      %td= quiz.num_passes
      %td= quiz.num_fails
      %td= quiz.user.name
      %td
        - if !quiz.results.where(user_id: @auth.id, num_correct: nil, has_started: false).present?
          - if @auth.customer_id.present?
            = render(:partial => 'quizzes/customer', :locals => {:quiz => quiz})
          - else
          = render(:partial => 'quizzes/anonymous', :locals => {:quiz => quiz})
      %td
        - if quiz.results.where(user_id: @auth.id, num_correct: nil, has_started: false).present?
          = link_to('Go!', quiz_path(quiz))
