= form_for @quiz, :remote => true do |f|
  = f.label :name
  = f.text_field :name, :autofocus => true, :placeholder=>'Quiz name'
  = f.label :cost
  = f.number_field :cost
  = f.label 'Enter comma separated tags:'
  = text_field_tag :tags
  / = f.label 'Percentage required to pass quiz:'
  / = f.number_field :num_pass
  = f.submit 'Add Questions', :class => 'button small success'