.row
  .large-12.columns
    %h1 Create a Quiz:
.row
  .large-4.columns
    = form_for @quiz do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :cost
      = f.number_field :cost
      = f.label :tags
      = text_field_tag :tags
      = f.submit nil, :class => 'button tiny success'
  .large-8.columns

.row
  .large-2.columns
    = link_to('Add Question', '#', :class => "large button success" )