#quiz_id.hide= @quiz.id

.row
  .large-4.columns
    .tiny_spacer.black_bg
    #quizform
      %h3 CREATE A QUIZ:
      = render :partial => 'quiz_form'
    .tiny_spacer

    .tiny_spacer.black_bg
    #q_header
      %h3 ADD QUESTIONS
    #question_form_btn.hide
      = form_tag new_question_path, :method => 'get', :remote => true do
        = hidden_field_tag :quiz_id, @quiz.id
        = submit_tag 'NEW QUESTION', :class => "small button success"
        = link_to('Finish Creating Quiz', '#', :'data-reveal-id' => 'quizEndModal', :class => 'button tiny alert')


    #question_form
    #answer_form

    #finish_question
      = link_to('Finish Question', '#', :'data-finish-question-form' => true, :class => 'button tiny success')
      = link_to('Finish Creating Quiz', '#', :'data-reveal-id' => 'quizEndModal', :class => 'button tiny alert')

  .large-8.columns
    .quiz_bg
      #question_info

#quizEndModal.reveal-modal.small
  %h4
    This quiz has
    %span.questions_count= @quiz.questions.count.to_s
    questions.
  %h4
    What is the passing percentage?
    = form_tag '/quizzes/'do
      = number_field_tag :pass_percent
      = submit_tag 'Done creating quiz'

  %a.close-reveal-modal
    &#215;
