.row
  .large-3.columns.lt_purp_bg
    .tiny_spacer
    %h3= @user.name
    %ul
      %li= "Address: #{@user.address}"
      %li= "Occupation: #{@user.occupation}"
      %li= "E-mail: #{@user.email}"
      %li= "Phone: #{@user.phone}"
      %li= "Balance: #{number_to_currency(@user.balance, :precision => 2)}"
      = link_to('Edit profile', edit_user_path(@user), :class => 'tiny button success')
    .tiny_spacer
    = image_tag(@user.image)
    %p
    .tiny_spacer.black_bg
    .tiny_spacer
    .tiny_spacer
    #map_canvas
      %script
        = "display_map(#{@user.lat}, #{@user.long}, 12)"
        = "add_marker(#{@user.lat}, #{@user.long}, '#{@user.name}');"
  .large-1.columns
  .large-8.columns
    .tiny_spacer
    .tiny_spacer
    .tiny_spacer.black_bg
    #quizzes_created
      = render(:partial => 'users/quizzes_created')
    .tiny_spacer.black_bg
    #quizzes_history
      = render(:partial => 'users/quizzes_history')

// USER CREATED Quizzes








= js extend_gritter(:position => :top_right, :fade_in_speed => "medium", :fade_out_speed => "slow")
= gflash



