.row
  .large-12.columns
    %h3 USER PROFILE


//USER PROFILE

.row
  .large-1.columns
  .large-3.columns
    = image_tag(@user.image)
    = link_to('ADD QUIZ', new_quiz_path,  :class => 'button small success radius')
    #map_canvas
      %script
        = "display_map(#{@user.lat}, #{@user.long}, 12)"
        = "add_marker(#{@user.lat}, #{@user.long}, '#{@user.name}');"
    =link_to('Add Interview', :class => 'button small success radius')

  .large-7.columns
    %ul
      %li
        %h3= @user.name
      %li= @user.address
      %li= @user.occupation
      %li= @user.email
      %li= @user.phone
      %li= number_to_currency(@user.balance, :precision => 2)
  .large-1.columns


// USER CREATED Quizzes

.row
  .large-6.columns
    %h3 MY QUIZZES
  .large-6.columns

.row
  .large-12.columns
    #quizzes_history
      = render(:partial => 'users/quizzes_history')
// D3 here

.row
  .large-10.large-centered.columns





