  <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to('Erotiquiz', root_path) %>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="divider"></li>
        <li><%= link_to('Create a Quiz', new_quiz_path) %></li>
        <li class="divider"></li>
          <% if @auth.blank? %>
           <li> <%= link_to('Register', new_user_path) %> </li>
          <% else %>
           <li><%= link_to('Profile', user_path(@auth)) %> </li>
           <li class="divider"></li>
           <li> <%= link_to(number_to_currency(@auth.balance), edit_user_path(@auth))  %> </li>
          <% end %>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider session_holder"></li>
        <% if @auth.blank? %>
          <%= render(:partial => 'session/new')  %>
        <% else %>
          <%= link_to('Logout', login_path, :method => :delete, :class => 'button alert') %>
        <% end %>
      </ul>
    </section>
  </nav>
