  <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to('Erotiquiz', root_path) %>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li>
          <% if @auth.blank? %>
            <%= link_to('Register', new_user_path) %>
          <% else %>
            <%= link_to('Profile', user_path(@auth)) %>
          <% end %>
        </li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider session_holder"></li>
        <% if @auth.blank? %>
          <%= render(:partial => 'session/new')  %>
        <% else %>
          <%= link_to('Logout', login_path, :method => :delete, :class => 'button alert') %>
        <% end %>
      </ul>
    </section>
  </nav>
