  <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to('Erotiquiz', root_path) %>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <% if @auth.blank? %>
        <li class="divider"></li>
        <li><%= link_to('Login', '#', :'data-reveal-id'=>'loginModal') %></li>
        <li class="divider"></li>
        <li> <%= link_to('Register', new_user_path) %> </li>
        <li class="divider"></li>
        <% else %>
        <li class="divider"></li>
        <li> <%= link_to('Browse Quizzes', quizzes_path)  %> </li>
        <li class="divider"></li>
        <li><%= link_to('Create a Quiz', new_quiz_path) %></li>
        <li class="divider"></li>
        <li><%= link_to('Profile', user_path(@auth)) %> </li>
        <li class="divider"></li>
        <%= render(:partial => 'layouts/balance') %>
        <li class="divider"></li>
        <li> <%= link_to('Logout', login_path, :method => :delete) %> </li>
        <li class="divider"></li>
        <% end %>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">

      </ul>
    </section>

    <!-- Login modal -->
    <div id="loginModal" class="reveal-modal small">
      <h2>Erotiquiz login</h2>
      <%= render(:partial => 'session/new')  %>
      <a class="close-reveal-modal">&#215;</a>
    </div>


  </nav>
